{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "max-len": 0,
    "camelcase": 0,
    "react/jsx-boolean-value": 0,
    "object-shorthand": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0
  }
}